* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 50px;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 20px;
}

.btn {
    padding: 10px 38px;
    border-radius: 32px;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 400px;
    line-height: 32px;
}

.btn.secondary {
    background-color: #5F9CFF;
    color: white;
}

.hero {
    background-color: #EEF2FF;
    height: 600px;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-content {
    width: 466px;
    height: 401.24px;
    padding-left: 40px;

}

.left-content h1 {
    font-size: 80px;
    font-weight: 600px;
    line-height: 90px;
}

.left-content p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400px;
    opacity: 50%;
    padding-top: 30px;
}

.button {
    padding: 10px 38px;
    border-radius: 32px;
    font-size: 18px;
    cursor: pointer;
    color: black;
    font-weight: 400px;
    line-height: 32px;
    margin-top: 100px;
    margin-right: 20px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-color: #C4C4C4;
    background-color: transparent;
}

.button.primary {
    background-color: #F268A9;
    border: none;
    color: white;
}

.right-content {
    width: 500px;
    height: 460px;
    background-color: #C4C4C4;
    border-radius: 10px;
    margin: 20px;
}


.sponsor {
    display: flex;
    padding-top: 65px;
    padding-bottom: 65px;
    align-items: center;
    justify-content: space-between;
    padding-right: 90px;
    padding-left: 90px;
}

.video-part {
    background-color: #DAF2F1;
    align-items: center;
    height: 600px;
    display: flex;
    justify-content: center;

}

.feature {
    display: flex;
    justify-content: space-between;
    padding: 90px;
    font-size: 18px;
    text-align: center;
}

.feature h5 {
    padding-top: 40px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    padding-bottom: 20px;
}

.feature p {
    opacity: 50%;
}

.endlanding {
    height: 500px;
    background-color: #FEFBF2;
    align-items: center;
    justify-content: center;
    display: flex;
}

.userquote {
    width: 960px;
    height: 280px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
}

.rating {
    display: flex;
    padding-top: 75px;
}

.name {
    padding-left: 30px;
    font-size: 18px;
}

.name p {
    opacity: 50%;
}

.ending {
    background-color: #EEF2FF;
    height: 502px;
    align-items: center;
    justify-content: center;
    display: flex;

}

.midpage {
    width: 564px;
    height: 288px;
    justify-content: center;
    align-items: center;
}

.midpage h1 {
    font-size: 80px;
    font-weight: 600;
}

.minibox {
    width: 385px;
    height: 64px;
    font-size: 18px;
    text-align: center;
    margin-left: 89.5px;
    margin-top: 30px;
    opacity: 50%;
}

.contactbtn {
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    padding: 16px 48px;
    border-radius: 32px;
    border: none;
    background-color: #F268A9;
    color: white;
    margin-top: 40px;
    margin-left: 182px;
    line-height: 32px;
    cursor: pointer;
}

footer {
    height: 413px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
}


.footerpart {
    height: 273px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-right {
    width: 469px;
    height: 273px;

}

.footerlogo {
    font-size: 20px;
    font-weight: 700;
}

.inbox {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 64px;

}

.inputpart {
    margin-top: 25px;
}

.inputpart input {
    font-size: 18px;
    padding-left: 20px;
    height: 54px;
    width: 320px;
    border-radius: 10px;

}

.subbutton {
    width: 130px;
    height: 54px;
    border-radius: 32px;
    border: none;
    color: white;
    background-color: #5F9CFF;
    margin-left: 14px;
    cursor: pointer;
}

.copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}


.footer-left {
    height: 273px;
    width: 417px;
    margin-right: 92px;
}



.footerwritings {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.socialicons {
    display: flex;
    justify-content: end;
    margin-top: 90px;
}

.socialicons img {
    margin-left: 15px;
}




@media screen and (max-width : 1057px) {
    .hero {
        flex-direction: column;
        height: 1200px;
        align-items: center;
    }


}

@media screen and (max-width : 768px) {
    .video-part img {
        width: 100%;
        padding: 25px;
    }

    .sponsor {
        display: flex;
        flex-direction: column;
    }

    .sponsor img {
        padding-bottom: 25px;
    }

    .right-content {
        width: 100%;
    }
    body>section, section>div,section>div>div,section>div>div>div{
        width: 100%;
    }

    .copyright p {
        width: max-content;
        padding-left: 8px;
    }

    .subbutton {
        margin-top:  10px;
        width: 280px;
        margin-left: 20px;


    }
   
}

@media screen and (max-width:580px) {
    .footerpart {
        flex-direction: column;
        width: 100%;
    }


    .footerwritings {
        flex-direction: column;
    }

    .feature {
        flex-direction: column;
    }

    .copyright {
        flex-direction: column;
    }

    .minibox {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .footerpart {
        flex-direction: column;
        width: 100%;
    }


    .footerwritings {
        flex-direction: column;
    }

    .feature {
        flex-direction: column;
    }

    .copyright {
        flex-direction: column;
    }

    .minibox {
        width: 100%;
    }

    header {
        padding-inline: 25px;
    }

    .navbar,
    .secondary,
    .name {
        display: none !important;
    }

    .endlanding {
        height: max-content;
        padding-block: 25px;
    }

    .rating img {
        width: 120px;
        height: 120px;
    }

    .rating {
        justify-content: center;
        padding: 20px 0 70px 0;
        margin: 0;
    }

    .userquote {
        height: max-content;
        display: flex;
        flex-direction: column-reverse;
    }

    .left-content {
        width: 100%;
        padding: 0;
        text-align: center;
        height: max-content !important;

    }

    .left-content p {
        font-size: 5vw;
    }

    .left-content h1 {
        font-size: 12vw;
    }

    .right-content {
        width: 100%;
        max-width: 320px;
        margin: 0;
        margin-top: 50px;
        padding: 0;
    }

    section {
        padding: 45px 25px !important;
        height: max-content !important;
    }

    .feature {
        padding: 0 !important;
    }

    .button.primary {
        margin-top: 50px;
    }

    .userquote {
        font-size: 4vw;
        padding-inline: 40px;
    }

    .midpage {
        text-align: center;
    }

    .midpage h1 {
        font-size: 10vw;
    }

    .minibox {
        font-size: 4vw;
        margin: 0;
    }

    .contactbtn {
        margin-inline: 0;
    }

    footer {
        padding: 40px 25px 0px;
    }

    footer,
    footer>div,
    footer>*>div {
        height: max-content !important;
        margin: 0;
    }

    .inputpart {
        width: 100%;
        padding-block: 35px;
        margin: 0;
    }

    .inputpart input {
        width: 100%;
        margin-bottom: 15px;
    }

    .footerpart>* {
        padding-bottom: 35px;
        width: 100%;
        margin: 0;
    }

    .footerpart {
        height: max-content;
        margin: 0;
    }

    .socialicons {
        margin: 0;
        padding-top: 50px;
        justify-content: start;
    }

    .socialicons img {
        margin-right: 15px;
    }
}

@media screen and (max-width: 375px) {
    section {
        padding-inline: 0 !important;
    }
    .subbutton {
        width: 200px;
        margin-left: 35px;
    }
}
